*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    /* background-image: url(./img/ramadan-festive-celebrations-ramazan-holy-prayers-generative-ai_174954-1460.avif);
    background-size: cover; */
}

img{
    height: 100vh;
    width: 100%;
}

form{
    display: flex;
    justify-content: center;
    padding-top: 30px;


}
form input{
    border-radius: 10px;
}

#result{
display: flex;
justify-content: center;
align-items: center;
padding-top: 20px;
color: wheat;
}

#time{
    font-size: 15px;
    width: 70px;
    border-radius: 10px;
}

button{
    width: 70px;
    border-radius: 10px;
}